*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

    
}

.container{
    max-width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.off-white-color{
    background-color: #eff7ff;
}
.btn{
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
}

.button-primary{
    background-color: #0085fe;
    color: #fff;
    margin-left: 10px;

}
.button-primary:hover{
    background-color: #fff;
    color: #0085fe;
    
}
.button-secondary{
    background-color: #fff;
    color: #0085fe;
    margin-right: 10px;

}
.button-secondary:hover{
    background-color: #0085fe;
    color: #fff;
}
a{
    text-decoration: none;
    
}

.logo-section span{
    background-color: #00D6BB;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 0 15px 15px 15px;
    font-weight: 600;
}
.logo-section span:hover{
    color: #fff;
}

.mainmenu ul{
    list-style: none;
}
.mainmenu a{
    color: #001033;
    padding: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.mainmenu a:hover{
    color: #0085FE;
}