*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

    
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;

}


img{
    max-width: 100%;
    width: auto;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.off-white-bg{
    background-color: #eff7ff;
}
.white-bg{
    background-color: #fff;

}
.btn{
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
}

.button-primary{
    background-color: #0085fe;
    color: #fff;
    margin-left: 10px;

}
.button-primary:hover{
    background-color: #fff;
    color: #0085fe;
    
}
.button-secondary{
    background-color: #fff;
    color: #0085fe;
    margin-right: 10px;

}
.button-secondary:hover{
    background-color: #0085fe;
    color: #fff;
}
a{
    text-decoration: none;
    transition: 0.5s;
    
}


.logo-section span{
    background-color: #00D6BB;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 0 15px 15px 15px;
    font-weight: 600;
}
.logo-section span:hover{
    color: #fff;
}

.mainmenu ul{
    list-style: none;
}
.mainmenu a{
    color: #001033;
    padding: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.mainmenu a:hover{
    color: #0085FE;
}


/* Hero Section Styles End */
.hero-area{
    padding: 50px 0;
}

.hero-area flex{
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    width: 50%;
}
.hero-text h2{
    font-size: 65px;
    color: #011E4F;
    font-weight: bold;
    margin-top: 30px;
}
.hero-text a{
    padding: 15px 50px;
}
.hero-text p{
    line-height: 30px;
    color: #788595;
    
}
.hero-text p:last-child{
    margin-top: 50px;
}

.hero-img{
    width: 50%;
}
/* Hero Section Styles End */


/* Brands Section Styles Start */ 

.brands-section{
    padding: 50px 0;
    
}
.brands-section p{
    color: #788595;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    
}
.brands-section > .container > .flex{
    justify-content: space-between;
}

.brands{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
}